  <!-- Botones se agrega un padding inferior y superior de 4 y un margin button de 4-->
  <app-detalle *ngIf="gastoSeleccionado" [gasto]="gastoSeleccionado"></app-detalle>


  <section id="actions" class="py-4 mb-4 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarGastoModal">
                    <i class="fas fa-plus"></i> {{ titulo }}
                </a>
              </div>
          </div>
      </div>
  </section>
  <!--Listado de Gastos-->
  <section id="gastos">
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                  <div class="card">
                      <div class="card-header">
                          <h4>{{tituloCard}}</h4>
                      </div>
                      <div class="table-responsive"> 
                      <table class="table table-striped">
                          <thead class="thead-dark">
                              <tr>
                                  <th>#</th>
                                  <th>Gasto</th>
                                  <th>Tipo</th>
                                  <th>Fecha</th>
                                  <th>Valor</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor= "let gasto of gastos; let i = index">
                                <td>      
                                    <button (click)="abrirModal(gasto)" class="btn btn-rounded btn-primary" type="button"style="width: 84px; cursor:pointer;" data-toggle="modal" data-target="#miModal">
                                        Detalle
                                      </button>
                                </td>
                                <td>{{gasto.nombre}}</td>
                                <td>{{gasto.tipo}}</td>
                                <td>{{gasto.fecha_gasto.seconds  * 1000 |date: "EEEE dd, MMMM yyyy"}}</td>
                                <td>{{gasto.valor | currency:'CLP':'$'}}</td>
                                <td>
                                    <a [routerLink]="['/gasto/editar',gasto.id]" routerLinkActive="active" class="btn btn-secondary" >
                                        <i class="fas fa-angle-double-right"></i>Editar
                                    </a>
                                </td>
                              </tr>
                          </tbody>

                      </table>
                      </div>
                  </div>
              </div>
               <!--Tarjeta lateral que mostrara el gasto total y el número de gastos que tiene la aplicacion-->
               <div class="col-md-3">
                   <div class="card text-center bg-danger text-white mb-3">
                       <div class="card-body">
                           <h3>Gasto Total</h3>
                           <h4 class="display-4">
                               {{getGastoTotal() | currency:'CLP':'$'}}
                           </h4>
                       </div>
                   </div>
                   <div class="card text-center bg-success text-white mb-3">
                         <div class="card-body">
                             <h3>Total de Gastos Ingresados</h3>
                             <h4 class="display-4">
                                <i class="fas fa-money-bill-wave"></i> {{gastos?.length}}
                             </h4>
                         </div>
                   </div>
               </div>
                 <!--Fin tarjeta Lateral-->
          </div>
      </div>
  </section>
<!--Agregar gasto modal-->
<div class="modal fade" id="agregarGastoModal">
    <div class="modal-dialog modl-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Agregar Gasto</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>

            </div>

        </div>

    </div>

</div>


<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title fo" id="myModalLabel">Detalle del Gasto</h4>
			</div>
			<div class="modal-body">
				<div class="container">
                    <div class="row">
                       <div class="col-sm">
                           <!-- detalle de gasto,mb margen bajo  -->
                           <ul *ngIf="gastoSeleccionado" class="list-group text-dark mb-3">
                               <li class="list-group-item active">Descripcion</li>
                               <li class="list-group-item">{{ gastoSeleccionado.descripcion }}</li>
                               <li class="list-group-item active">Local</li>
                               <li class="list-group-item">{{ gastoSeleccionado.nombreLocal}}</li>
                               <li class="list-group-item active">Ciudad</li>
                               <li class="list-group-item">{{ gastoSeleccionado.ciudad}}</li>
                               <li class="list-group-item active">Fecha</li>
                               <li class="list-group-item">
                                   {{ gastoSeleccionado.fecha_gasto.seconds  * 1000 |date: "EEEE dd, MMMM yyyy" }}
                               </li>
                           </ul>
                       </div>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button
                  (click)="cerrarModal()"
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
		</div>
	</div>
</div>

